/* Header */
.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#fe6432,#f53e2d);
    
}

.header__navbar{
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
}



.header__navbar-item {
    position: relative;
    /* display: inline-block; */
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 300;
    margin-left:  8px;
    border-right: 2px solid #f86c5b;
    padding-right: 8px;
}
.header__navbar-item.has-qr::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 90px;
    height: 12px;
    /* background-color: #000; */
}
.header__navbar-item-link{
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;


}
.header__navbar-item:hover,
.header__navbar-item-link:hover ,
.header__navbar-icon-link:hover{
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}


.header__navbar-item-has-notify:hover .header__notify{
    display: block;
}

.header__navbar-user{
    display: flex;
    position: relative;
    justify-items: center;
    align-items: center;

}
.header__navbar-user-img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,0.1);
}
.header__navbar-user-name{
    margin-left: 4px;
    font-size: 400;

}
.header__navbar-user:hover .header__navbar-user-menu{
    display: block;
}
.header__navbar-user-menu{
    width: 160px;
    padding-left: 0;
    z-index: 1;
    position: absolute;
    top: 28px;
    right: 12px;
    background-color: var(--white-color);
    list-style: none;
    border-radius: 2px ;
    box-shadow: 0 2px 2px #bbbaba;
    display: none;
}
.header__navbar-user-menu::before{
    content: "";
    position: absolute;
    z-index: -1;
    top:-28px;
    right: 0px;
    border-style: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__navbar-user-menu::after{
    content: "";
    display: block;
    width: 60%;
    height: 20px;
    position: absolute;
    top:-8px;
    right: 0;
    /* background-color: #000; */
}
.header__navbar-user-item{

}
.header__navbar-user-item a{
    text-decoration: none;
    color: var(--text-color);
    display: block;
    padding:12px 16px;
    font-size: 1.4rem;
    font-weight: 400;

}
.header__navbar-user-item a:hover{
    background-color: rgba(0,0,0,0.04);
}

.no-separate{
    border-right: none;
}

.no-pointer{
    color: var(--white-color);

    cursor: text;
}

.header__navbar-icon-link{
    color: var(--white-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    padding: 0 6px;
    
}
.header__navbar-icon{
    font-size: 18px;

}

/* QR Code */
.header__qr{
    position: absolute;
    z-index: 2;
    top:150%;
    background-color: var(--white-color);
    width: 200px;
    border-radius: 2px;
    border-style: solid;
    display: none;
    animation:fadeIn ease 0.5s;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

.has-qr:hover .header__qr{
    display: block;
}

.header__qr-img{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-between;

}
.header__qr-link{
    margin: 0 auto;
}

.header__qr-img-download{
    height: 18px;
}

/* Header notify */
.header__notify{
    position: absolute;
    z-index: 2;
    width: 400px;
    background-color: var(--white-color);
    top: 144%;
    right: 10px;
    border: 1px solid rgba(0,0,0,0.1);
    border: transparent transparent 20px transparent;
    display: none;
    transform-origin: cacl(100%-20px) 0;
    animation: headerNotifyGrowth ease-in 0.2s ;
    will-change: opacity,transform;
    border-radius: 2px;
}


.header__notify::before{
    content: "";
    border: solid;
    border-width: 20px 27px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -29px;
}

.header__notify::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width:90px;
    height: 20px;
}
@keyframes headerNotifyGrowth{
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);

    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3{
    color:#999;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}

.header__notify-list{
    padding-left: 0%;

}

.header__notify-item{
    display: flex;
    background-color: rgba(249,81,47,0.09);

}
.header__notify-item:hover{
    background-color: rgba(245, 247, 248,0.8);
}

.header__notify-link{
    display: flex;
    text-decoration: none;
    padding: 12px;

}

.header__notify-img{
    width: 48px;
    height: 50px;


}

.header__notify-info{
    flex: 1;
    margin-left: 12px;
}

.header__notify-name{
    color: rgba(0,0,0,.8);
    display: block;

}

.header__notify-des{
    display: block;
    color:rgba(0,0,0,.54);
    margin-top: 6px;
}

.header__notify-footer{
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: var(--white-color);
}
.header__notify-footer-btn{
    color: rgba(0,0,0,.8);
    text-decoration: none;
   
}

/* Authen Form */
.auth-form{
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
    overflow: hidden;
}
.auth-form__container{
    padding: 32px 32px 20px;
}

.auth-form__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8px;
    margin-bottom: 24px;
}

.auth-form__heading{
    color: var(--text-color);
    font-size: 2.2rem;
    font-weight: 450;
    margin: 0;
}

.auth-form__swith-btn{
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{

}

.auth-form__group{

}

.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px ;
    font-size: 1.4rem;
    outline: none;
    border-radius: 2px;
    border: 1px solid var(--border-color);
    padding: 0 8px;
}

.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    padding: 16px 8px;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 26px;
}

.auth-form__policy-text{

}

.auth-form__policy-link{
    text-decoration: none;
    color: var(--primary-color);

}

.auth-form__controls{
    display: flex;
    justify-content: end;
}
.auth-form__control-item{
    margin-left: 12px;
}

.auth-form__socials{
    display: flex;
    background-color: rgb(245, 245, 245);
    justify-content: space-between;
    padding: 12px 32px;
    height: 56px;
}
.auth-form__socials-fb{
    
    background-color: #304882;
    color: var(--white-color);
}
.auth-form__socials-gg{
    text-decoration: none;
    color: var(--text-color);
}
.auth-form__socials-icon{
    font-size: 2.2rem;
}

.auth-form__socials--title{
    margin: 0 24px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;

}
.auth-form__help-link{
    font-size: 1.3rem;
    text-decoration: none;
    color: #939393;

}
.auth-form__help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 20px;
    margin: -1px 16px 0 ;
}
.auth-form__help-forgot{
    color: var(--primary-color);
}

/* Header with search */
.header__with-search{
    padding: 0 16px;
    display: flex;
    align-items: center; 
    height: var(--header-with-search-height);
}
.header__logo-link{
    color:transparent;
    text-decoration: none;
}
.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    display: flex;
    align-items: center;
    flex: 1;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 3px;

}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-input{
    
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding-left: 12px;
}
.header__search-history{
    width: calc(100% - 20px);
    position: absolute;
    left: -3px;
    top: 34px;
    z-index: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 2px 2px #d1d0d0;
    display: none;

}
.header__search-history-heading{
    font-weight: 400;
    color: #ababab;
    margin: 12px 12px;
}
.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}
.header__search-history-item{
    font-size: 1.3rem;
    color: var(--text-color);
    height: 38px;
    padding: 0 12px;
    line-height: 38px;
    cursor: pointer;
}
.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-selection{
    position: relative;
    width: 140px;
    border-left: 1px solid #d3d3d3;
    margin:  0;
    height: 24px;
    padding: 4px 12px 4px 16px;
    cursor: pointer;

}


.header__search-selection:hover .header__search-option{
    display: block;
}

.header__search-selection span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-selection i{
    color: #ababab;
    font-size: 1.4rem;
    margin-left: 12px;
}

.header__search-selection::after{
    content: "";
    width: 100px;
    height: 40px;
    right: 0;
    bottom: -10px;
    display: block;
    
}
.header__search-option{
    margin: 0;
    position: absolute;
    list-style: none;
    width: 168px;
    top: calc(100% + 12.5px);
    right: 0;
    z-index: 1;
    background-color: var(--white-color);
    padding-left: 0;
    border-radius: 3px;
    box-shadow: 0 2px 1px #d3d3d3;
    animation: fadeIn ease 0.3s;
    display: none;
}
.header__search-option i{
    color: var(--primary-color);
    font-size: 1.4rem;
}
.header__search-option-item{
    padding: 12px ;
    font-size: 1.4rem;
}
.header__search-option-item:hover{
    cursor: pointer;
    background-color: rgba(245, 247, 248,0.6);
}
.header__search-btn{
    width: 60px;
    height: 100%;
    background-color: #fb5533;
    border: none;
    border-radius: 3px;

}
.header__search-btn:hover{
    cursor: pointer;
    background-color: #fb6445;
}

.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.2rem;
}

.header__cart{
    width: 80px;
    text-align: right;
}
.header__cart-wrap{
    position: relative;
    display: inline-block;
    padding: 8px;
    cursor: pointer;

}

.header__cart-icon{
    padding: 8px;
    font-size: 2.2rem;
    color: var(--white-color);
}
.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-notice{
    position: absolute;
    padding: 1px 6px;
    top: 5px;
    right: 2px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    color: var(--primary-color);
    border-radius: 40%;
    line-height: 1.2rem;
    border: 2px solid #EE4D2D;
    
}

.header__cart-list{
    position: absolute;
    top: calc(100% - 2px);
    right: -6px;
    z-index: 1;
    background-color: var(--white-color);  
    width: 400px;
    border-radius: 2px;
    text-align: center;
    box-shadow: 0 2px 8px #ababab;
    display: none;
    animation:fadeIn ease 0.5s;
    cursor: default;
}
.header__cart-list::before{
    content: "";
    top: -30px;
    right: 4px;
    cursor: pointer;
    position:absolute;
    border-width: 20px 28px;
    border-style: solid;
    border-color: transparent  transparent var(--white-color) transparent;
}
/* No cart */
.header__cart-list--no-cart{
    padding: 28px 0;
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header__cart-no-cart-img{
    display: none;
    width: 50%;
}
.header__cart-list-no-cart-msg{
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 16px 0;
}

/* Cart item */
.header__cart-heading{
    text-align: left;
    font-weight: 400;
    font-size: 1.4rem;
    color: #999;
    margin: 12px 8px;

}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 60vh;
    overflow-y: auto ;

}
.header__cart-item{
    display: flex;
    /* height: 100%;  */
    padding-right: 12px;
}
.header__cart-item:hover{
    background-color: rgba(0,0,0,0.04);
}
.header__cart-item-img{
    width: 44px;
    height: 44px;
    margin: 10px;
    border: 1px solid #e8e8e8;
}
.header__cart-item-info{
    flex:1;

}
.header__cart-item-head{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.header__cart-item-name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    max-height: 4rem;
    flex: 1;
    text-align: left;    
    padding-right: 20px;
    margin-top: 10px;
    overflow: hidden;
    color: var(--text-color);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.header__cart-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 10px;
    color: var(--primary-color);
}
.header__cart-view-cart{
    float:right;
    margin: 0 12px 12px 0;
    cursor: pointer;
}
/* App container */
.app__container{
    background-color: #f5f5f5;
}
.app__content{
    padding-top: 32px;
}
.category{
    background-color: var(--white-color);
    border-radius: 2px;
}
.category__heading{
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
    padding: 8px 16px;
    margin-bottom: 0;
    margin-top: 0;
    border-bottom: 1px solid rgba(0,0,0,0.05)

}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.category-list{
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0 8px 12px;
    list-style: none;
}
.category-item{
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::after{
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 4px ;
    border-style: solid;
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    position: relative;
    right: 0;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    padding: 10px 16px;
    transition: right linear 0.1s;

}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}

/* Home sort */
.home-filter{
    background-color: #e9e7e9;
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;

}
.home-filter__label{
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}

.home-filter__btn{
    margin-right: 12px;
    min-width: 90px;
    box-shadow: 0 2px 2px #ccc ;
}
.home-filter__page{
    display: flex;
    align-items: center;
    margin-left:auto;
}
.home-filter__page-num{
    font-size:1.4rem;
}

.home-filter__page-current{
    font-size: 1.4rem;
    color: var(--primary-color);
}
.home-filter__page-total{
    font-size: 1.4rem;
    color: var(--text-color);
}
.home-filter__page-control{
    margin-left: 16px;
    border-radius: 3px;
    overflow:hidden;
    display: flex;
    align-items: center;
    width: 72px;
    background-color: var(--white-color);
    text-decoration: none;
    box-shadow: 0 2px 2px #ccc;

}
.home-filter__page-btn:first-child{
    border-right: none;
}
.home-filter__page-btn{
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #f1f1f1;
    cursor: pointer;

}
.home-filter__page-btn--disabled{
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-btn-icon {
    color: #ccc;

}
.home-filter__page-btn-icon{
    font-size: 1.2rem;
    color: #555;
    margin: auto;


}

/* Product Item */
.home-product{
    margin-bottom: 10px;
}
.home-product-item{
    display: block;
    text-decoration: none;
    position: relative;
    background-color: var(--white-color);
    margin-top: 10px;
    padding-bottom: 12px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;

}
.home-product-item:hover{
    transform: translateY(-1px);
    border: 1px solid var(--primary-color);
    box-shadow: 0 1px 20px 0 rgba(0,0,0,0.05);


}
.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;

}
.home-product-item__name{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;
    
}
.home-product-item__price{
    display: flex;
    color: var(--text-color);
    margin: 0 10px;
    align-items: baseline;
    flex-wrap: wrap;

}
.home-product-item__price-old{
    font-size: 1.4rem;
    margin-right: 8px;
    text-decoration: line-through;

}
.home-product-item__price-curent{
    color: var(--primary-color);
    font-size: 1.6rem;

}
.home-product-item__price-ship{
    margin-left: auto;
}
.home-product-item__price-ship-icon{
    width: 24px;
}
.home-product-item__action{
    display: flex;
    margin: 5px 10px;
}
.home-product-item__like{
    font-size: 1.2rem;
}
.home-product-item__like--liked 
.home-product-item__like-icon-fill{
    display: block;
}
.home-product-item__like--liked 
.home-product-item__like-icon-empty{
    display: none;
}
.home-product-item__like-icon-empty{
    
}
i.home-product-item__like-icon-fill{
    display: none;
    color: #f53d2f;

}

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    margin-left: auto;
    color: var(--border-color);
}
.home-product-item__rating-icon{
    color: #ffce3d;

}
.home-product-item__sold{
    color: var(--text-color);
    font-size: 1.2rem;
    margin-right: 0;
    margin-left: 8px;
}
.home-product-item__origin{
    margin: 0 10px;
    display: flex;
}
.home-product-item__origin-name{
    margin-left: auto;
    font-size: 1.2rem;
    color: #5f5f5f;
}
.home-product-item__favorite{
    position: absolute;
    top:10px;
    left: -4px;
    color: var(--primary-color);
    background-color:currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding: 0 5px;
    border-top-right-radius:3px ;
    border-bottom-right-radius:3px ;
}
.home-product-item__favorite::before{
    position: absolute;
    content: "";
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(0.6);
    top: 16px;
    left: 0;
}
.home-product-item__favorite i{
    font-size: 0.9rem;
    color: var(--white-color);
    margin-right: 4px;
}
.home-product-item__favorite span{
    color: var(--white-color);

}
.home-product-item__sale-off{
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    padding: 4px;
    border-top-right-radius: 2px;
    color: rgba(255,216,64,0.9);
    background-color: currentColor;

}
.home-product-item__sale-off::before{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;
    /* bottom: 0; */
    border-width: 0 20px 4px;
    border-style: solid;
    border-color:transparent currentColor transparent currentColor ;
    /* border-top: 6px solid currentColor; */
    /* border-right: 20px solid transparent; */
}
/* .home-product-item__sale-off::after{
    position: absolute;
    content: "";
    border-top: 6px solid currentColor;
    border-left: 20px solid transparent;
    top: 100%;
    right: 0;
    display: none;
} */


.home-product-item__sale-off-percent{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.4rem;
}
.home-product-item__sale-off-label{
    font-size: 1.4rem;
    color: var(--white-color);
    font-weight: 500;
}

.home-product__pagination{
    margin-top: 48px;
    margin-bottom: 32px;
}


/*  Footer*/
.footer{
    padding-top: 24px;
    border-top: 4px solid var(--primary-color);
}
.footer__heading{
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer-list{
    padding-left: 0;
    list-style: none;
}
.footer-item__link{
    text-decoration: none;
    font-size: 1.3rem;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 6px 0;
}
.footer-item__link:hover{
    color: var(--primary-color);
}
.footer-item__icon{
    font-size: 1.6rem;
    margin-right: 8px;
}
.footer__download{
    display: flex;
    /* align-items: center; */
}
.footer__download-qr{
    width: 80px;
    height: 80px;
    border:1px solid var(--border-color);
}
.footer__download-apps{
    flex: 1;
    /* margin:8px 0 8px 12px; */
    margin-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.footer__download-app-link{
    /* margin: 12px 0; */
    display: block;
    text-decoration: none;
}
.footer__download-app-img{
    /* display: block; */
    height: 20px;
}

.footer__bottom{
    text-align: center;
    margin: 0 auto;

}
.footer__bottom-text{
    font-size: 1.4rem;
    text-align: center;
    color: #737373;

}
/* .footer-item__pay-img{
    height: 20px;
} */